@use '../../styles/utils/vars' as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  border: 1px solid $colorElements;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 120px;
    background-color: rgb(12, 163, 163);
    color: $colorWhite;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
  }

  &__checkout {
    width: 180px;
    background-color: rgb(214, 215, 190) !important;
    color: $colorWhite;

    &:hover {
      background-color: rgb(231, 150, 226) !important;
      color: $colorBlack;
    }
  }

  &__uncheckout {
    color: $colorBlack;
    background-color: rgb(142, 201, 229) !important;;
  }
}