$colorWhite: #fff;
$colorBlack: #000000;
$googleBlue: #4285f4;
$colorSecondary: #89939a;
$colorPrimary: #313237;
$colorElements: #e2e6e9;
$colorLink: #544042;
$colorHover: #558682;
$backgroundHeader: linear-gradient( 174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
